@font-face {
    font-family: "fajala";
    src: url(../fonts/fuente.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, helvetica, arial;
    text-decoration: none;
}

.clearfix {
    clear: both;
    float: none;
}

body {
    background: url('../img/cubes.png') #f4f4f4;
}


/*cabecera*/

#header {
    width: 85%;
    height: auto;
    background: transparent;
    margin: 0px auto;
}


/*logo*/

#logo {
    float: left;
    width: 540px;
    height: 100px;
}

#logo a {
    font-family: "fajala", helvetica;
    font-size: 25px;
    letter-spacing: 2px;
    color: #2979cd;
    text-shadow: 0px 0px black, 1px 1px 0px black, 2px 2px 0px black;
    transition: all 500ms;
    line-height: 90px;
}

#logo a:hover {
    cursor: pointer;
    text-shadow: 0px 0px black, -1px -1px 0px black, -2px -2px 0px black;
}


/*menu*/

#nav {
    width: 100%;
    height: 44px;
    clear: both;
    background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 10%);
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    box-shadow: 0px 1px 1px #eee;
    overflow: hidden;
}

#nav ul {
    list-style: none;
}

#nav li {
    float: left;
    line-height: 44px;
    border-right: 1px solid #d6d6d6;
}

#nav ul li:hover {
    background: linear-gradient(to bottom, #f2f2f2 0px, #dad9d4 10%);
}

#nav ul li a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: #838282;
}


/*contenido*/

#container {
    width: 85%;
    height: auto;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
}


/*aside*/

#sidebar {
    float: right;
    width: 27%;
    min-height: auto;
}

.block_aside {
    display: block;
    width: 90%;
    margin: 0px auto;
    margin-bottom: 35px;
    background: white;
    padding: 15px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 0px 1px #ffffff inset, 0px -3px 2px rgba(0, 0, 0, 0.25)inset;
}

.block_aside h3 {
    margin-bottom: 15px;
}

label,
input[type='text'],
input[type='email'],
input[type='password'] {
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 5px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    padding: 5px;
    margin-bottom: 10px;
}

input[type='button'],
input[type='submit'] {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    border-radius: 2px;
    color: white;
    background: #007ee5;
    border: 1px solid #156785;
    cursor: pointer;
    padding: 7px;
}


/*central*/

#principal {
    float: left;
    width: 65%;
    min-height: 582px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    margin-left: 20px;
    padding: 20px;
    overflow: hidden;
}

#principal a {
    color: #333;
}

#principal h1 {
    font-size: 24px;
    color: #444;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #ccc;
    font-family: 'fajala';
}

#principal h2 {
    font-size: 20px;
    color: #2979cd;
    text-shadow: 1px 1px 2px #ccc;
    letter-spacing: 1px;
    font-family: 'fajala';
    margin-top: 25px;
}

#principal p {
    margin-top: 8px;
}

#all a {
    display: block;
    border-radius: 2px;
    padding: 15px;
    color: white;
    background: #007ee5;
    border: 1px solid #156785;
    cursor: pointer;
    width: 160px;
    margin: 0px auto;
    margin-top: 50px;
}


/*fin principal*/


/*fotter*/

#footer {
    clear: both;
    width: 85%;
    margin: 0px auto;
    background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 10%);
    border: 1px solid#c9c9c9;
    border-bottom: none;
    border-radius: 8px 8px 0px 0px;
    color: #666;
    height: auto;
    padding: 15px;
    text-align: center;
}


/*alerta*/

.alerta {
    padding: 5px;
    font-size: 14px;
    color: white;
    background-color: green;
    box-shadow: 0px 1px 3px #ccc;
    margin-bottom: 10px;
    border-radius: 2px;
}

.alerta-error {
    background-color: red;
}